@page
@model Beauty_Bar_by_ANN.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].AppointmentTime)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Service.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Employee.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Client.ClientName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.ClientName)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
